<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Tentang Usaha</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/produk">Produk</a>
        <a href="/kontak">Kontak</a>
    </nav>
</header>

<div class="container">

    <div class="card">
        <h2>Nama Usaha</h2>
        <p>Vita Digital Store</p>
    </div>

    <div class="card">
        <h2>Latar Belakang</h2>
        <p>
            Usaha ini dibuat untuk membantu masyarakat
            mendapatkan produk digital berkualitas.
        </p>
    </div>

    <div class="card">
        <h2>Visi dan Misi</h2>

        <p>Visi: Menjadi bisnis digital terpercaya.</p>

        <p>
            Misi: Menyediakan produk digital berkualitas
            dan harga terjangkau.
        </p>
    </div>

</div>

</body>
</html>
